:root {
  --color_letras: #111;
  --color_fondo: #FFC8EC;
  --color_h1: #FFA07A;
  --font: 'Poppins', sans-serif;
  --reproductor: hotpink;
  --hr_margin: 3em auto;
  --hr_height: 1px;
  --hr_background: linear-gradient(to right, #fefefe, #ffedcc, #fefefe);
  --estrofa_font:'Quicksand', sans-serif;
  --puente_font:'Inter', sans-serif;
  --estrofa_bg: #fffdf7;
  --puente_bg: #fffbf2;
  --puente_letras: #444;
  --puente_sombra: none;
  --titulo: #FF64B7;
}

:root.glitch {
  --titulo: #FBFF82;
  --color_letras: #F7FF7A;
  --color_h1: #CC99DD;
  --color_fondo: #5A4667;
  --font: 'IBM Plex Mono', monospace;
  --reproductor: #D453B8;
  --hr_margin: 3rem 0;
  --hr_height: 3px;
  --hr_background: repeating-linear-gradient(
    45deg,
    #f0f,
    #f0f 10px,
    #0ff 10px,
    #0ff 20px);
  --hr_animation: glitchy 1.5s infinite alternate;
  --puente_font:'Orbitron', Sans-serif;
  --estrofa_font: 'Courier New', monospace;
  --estrofa_bg: linear-gradient(90deg, #f0f, #0ff, #ff0);
  --puente_bg: #111;
  --puente_letras: #fff;
  --puente_sombra: inset 0 0 10px #f0f;
  --estrofa_animacion: glitchColor 2s infinite alternate;
  --estrofa_transformacion: skewX(-2deg);
}

#titulo {
  color: var(--titulo);
}

hr {
  margin: var(--hr_margin);
  height: var(--hr_height);
  background: var(--hr_background);
  border: none;
  animation: var(--hr_animation);
}

@keyframes glitchy {
  from {transform: skewX(-3deg); }
  to { transform: skewX(3deg) }
}

h1 {
  font-size: 0.8em;
  font-family: var(--font);
  color: var(--color_h1);
}

audio {
  background-color: hotpink;
  border-color: black;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

* {
  font-family: 'Courier New', monospace;
  color: var(--color_letras);
}

body {
  background: var(--color_fondo);
  padding: 1cap;
  height: 100vh;
}


#principal {
  max-width: 96%;
  height: 100%;
  justify-content: center;
  margin: auto;
}

main {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

#poema {
  width: 96%;
  height: 98%;

}

#galeria {
  padding: 2%;
  width: 96%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #A5F3B9;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(200, 160, 220, 0.2);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/* Slider item */
.item-imagen {
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-radius: 12px;
  border: 2px dashed #d8cfe8;
  background-color: #fffefa;
  scroll-snap-align: start;
}


/* Fondo difuminado */
.item-imagen::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--imagen-url);
  background-size: cover;
  background-position: center;
  filter: blur(12px) brightness(1.1);
  transform: scale(1.2);
  z-index: 1;
}

/* Imagen real encima */
.imagen-ritual {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}


#readme {
  border-left: 3px solid #ffa;
  padding-left: 1em;
}


#opciones_poemas {
  display: none;
}

#desplegar:checked~ul {
  display: block;
  list-style: none;
}

#titulo {
  margin: auto;
  padding: .5rcap;
  width: fit-content;
  font-size: 1.5rem;
}

#poemas {
  height: 35%;
}

#reproductor-contenedor {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: fit-content;
  padding: 1cap;
}

#nombres_poemas {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

#mostrar_poemas:checked+#opciones_poemas {
  display: block;
}

#audio {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#glitcher {
  padding: 1em;
}


@keyframes {
  0% {background-position: left;}
  100% {background-position: right;}
}


.estrofa {
  animation: var(--estrofa_animacion);
  transform: var(--estrofa_transformacion);
  font-family: var(--estrofa_font);
  background: var(--estrofa_bg);
  color: var(--color_letras);
  padding: 1em;
  margin: 2em 0;
  border-left: 3px solid #ffd7f7;
  font-size: 1.1em;
}

.puente {
  font-family: var(--puente_font);
  background: var(--puente_bg);
  color: var(--puente_letras);
  text-align: center;
  font-style: italic;
  margin-top: 3em;
  padding: 1em, 2em;
  border-top: 1px solid #e0cfc0;
  border-bottom: 1px solid #e0cfc0;
  box-shadow: var(--puente_sombra);
}
